@font-face {
    src: url(CallieChalkFont-Regular.otf);
    font-family: chalk;
}
ul {
    display:flex;
    justify-content:space-around;
    list-style: none;
}

h1 {
    text-align: center;
    margin: 0x;
    padding: 20px;
    border: 0px;
    color:white;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

p {
    text-align: center;
    text-decoration: underline;
    text-shadow: 10px;
    color: white;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#score {
    font-weight: bold;
    font-size: 40px;
    padding: 8px;
}

#title {
    font-size: 40px;
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 10px;
    margin-top: 20px;
}

.message {
    text-align: center;
    font-size: 50px;
    padding: 25px;
}

body {
    font-family: chalk;
    background-image: url("green-chalkboard.jpg");
    background-size: cover;
    font-weight: 900;
    font-size: 10px;
    color:white;
}

li {
    font-size: 10px;
}

.button {
    background-image: url("woodenbackground.jpeg");
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-top: 10px;

}

.bottom {
    background-image: url("woodenbackground.jpeg");
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 8px;
    margin-top: 10px;
}

.page-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
}

.content-wrap {
    flex-grow: 1;
}

html, body {
    width: 100%;
    height: 100%;
}

.content-wrap, .bottom {
    flex-shrink: 0;
}

.rock {
    background-image: url("woodenbackground.jpeg");
    border-radius: 20px;
    color: white;
    padding: 8px;
    
}

.paper {
    background-image: url("woodenbackground.jpeg");
    border-radius: 20px;
    color: white;
    padding: 8px;
}

.scissors {
    background-image: url("woodenbackground.jpeg");
    border-radius: 20px;
    color: white;
    padding: 8px;
}

img {
    width: 50px;
    height: 50px;
}

.btn-primary {
    margin: 10px;
    margin-top: 4px;
    font-size: 10px;
    background-image: url("woodenbackground.jpeg");
    padding: 8px;
    border-color: black;
    border-width: medium;
}

.modal-title {
    font-size: 8px;
    border-color: black;
    border-width: medium;
}

.modal-body {
    font-size: 8px;
}

.btn-secondary {
    font-size: 8px;
}

.winner {
    background-color: green !important;
}

.loser {
    background-color: red !important;
}

.draw {
    background-color: rgb(242, 242, 172) !important;
}

.winner, .loser, .draw {
    text-align: center;
    font-size: 8px;
    margin-top: 20px;
    padding: 18px;
    color: black;
    font-weight: 900;
}

.scoreboard {
    padding: 8px;
}

.modal-content {
    background-image: url("woodenbackground.jpeg");
}

header {
    background-image: url("woodenbackground.jpeg");
}
